.about-us__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  .media-font(@width-tablet, 43px, 50px);

  .media-font(@width-desktop, 53px, 57px);
}

.about-us__list {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  .media-font(@width-tablet, 20px, 22px);
}
