.catalog-groups__item {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: @basic-light-color;

  .media-font(@width-tablet, 20px, 30px);

  &:visited {
    color: @basic-light-color;
  }
}

.catalog-groups__item--interior {
  background-color: @main-color;
}

.catalog-groups__item--toys {
  background-color: @main-color-x;
}
