.content-header {
  position: relative;
}

.content-header::after {
  @media screen and (min-width: @width-medium) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    background-image: url("../img/main/zigzag-fill.svg");
    background-repeat: repeat-x;
  }

  @media screen and (min-width: @width-large) {
    background-image: url("../img/main/zigzag-fill-desktop.svg");
    height: 34px;
  }
}

.content-header__wrapper {
  min-height: 177px;

  @media screen and (min-width: @width-medium) {
    min-height: 236px;
  }

  @media screen and (min-width: @width-large) {
    min-height: 272px;
  }

  @media screen and (min-width: @width-medium) {
    padding-top: 100px;
  }

  display: flex;
  justify-content: center;

  @media screen and (max-width: @width-small-bound) {
    align-items: center;
  }
}

.page-content__header--main .content-header__wrapper {
  flex-direction: column;
  justify-content: space-between;

  min-height: 488px;

  @media screen and (min-width: @width-medium) {
    min-height: 746px;
  }

  padding-top: 73px;

  @media screen and (min-width: @width-medium) {
    padding-top: 154px;
  }
}

.content-header__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  .media-font(@width-medium, 43px, 50px);

  .media-font(@width-large, 53px, 57px);
}

.content-header__title--main {
  padding: 0 14%;

  @media screen and (min-width: @width-medium) {
    padding: 0 12%;
  }
}
