.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  .media-font(@width-tablet, 43px, 50px);

  .media-font(@width-desktop, 53px, 57px);
}

.contacts__info {
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: @dark-color-extra;

  .media-font(@width-tablet, 17px);
}

.contacts__email {
  color: @dark-color-extra;
  text-decoration: none;
  border-bottom: 1px solid @main-color-xx;

  &:visited {
    color: @dark-color-extra;
  }

  &:hover {
    color: @main-color-xx;
  }

  &:active {
    border-color: rgba(@main-color-xx, 0.1);
  }
}
