.input-group {
  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: @width-medium) {
    display: grid;
    grid-template-columns: 167px 1fr;
  }

  @media screen and (min-width: @width-large) {
    grid-template-columns: @column-for-large 1fr;
  }
}

.input-group__grid {
  @media screen and (min-width: @width-medium) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.input-group__container--extra {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: @width-medium) {
    flex-direction: row;
  }
}

.input-group__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @main-color;

  margin: 0;

  @media screen and (min-width: @width-large) {
    text-align: center;
  }
}

.input-group__label {
  font-weight: bold;
}

.input-group__input {
  font-size: 17px;
  line-height: 18px;

  .media-font(@width-medium, 19px);
}
