.make-order {
  padding-top: 16px;

  @media screen and (min-width: @width-medium) {
    padding-top: 55px;
  }

  @media screen and (min-width: @width-large) {
    padding-top: 97px;
  }
}

.make-order__text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  color: @dark-color-extra;

  .media-font(@width-medium, 17px, 30px);

  @media screen and (min-width: @width-large) {
    padding-left: @column-for-large;
    padding-right: @column-for-large;
  }
}

.make-order__wrapper {
  padding: 0 @padding-small;

  @media screen and (min-width: @width-medium) {
    padding: 0 @padding-medium;
  }
}

.make-order__wrapper:nth-of-type(2n) {
  @media screen and (min-width: @width-medium) {
    background-color: @bg-color;
  }
}

.make-order__wrapper.make-order__wrapper--footer {
  @media screen and (min-width: @width-medium) {
    background-color: transparent;
  }
}

.make-order__wrapper--text {
  margin-bottom: 30px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 13px;
  }

  @media screen and (min-width: @width-large) {
    margin-bottom: 14px;
  }
}

.make-order__wrapper--type {
  margin-bottom: 33px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 0;
  }
}

.make-order__wrapper--color {
  margin-bottom: 34px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 0;
  }
}

.make-order__wrapper--name {
  margin-bottom: 35px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 0;
  }
}

.make-order__wrapper--contacts {
  margin-bottom: 35px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 0;
  }
}

.make-order__wrapper--extra {
  margin-bottom: 16px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 3px;
  }

  @media screen and (min-width: @width-large) {
    margin-bottom: -1px;
  }
}
