.manufacturing {
  --padding-horizontal: 33px;
  --padding-top: 21px;
  --padding-bottom: 32px;
  --border: 1px solid @border-color;

  padding: 0 @padding-small;

  @media screen and (min-width: @width-medium-catalog) {
    padding: 0 @padding-medium;

    --padding-top: 0;
    --padding-horizontal: 41px;
    --padding-bottom: 45px;
  }

  @media screen and (min-width: @width-large-catalog) {
    --padding-top: 47px;
    --padding-horizontal: 79px;
    --padding-bottom: 0;
  }
}

.manufacturing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  // padding-bottom: var(--padding-bottom);
  // border: 1px solid @border-color;

  @media screen and (min-width: @width-medium-catalog) {
    align-items: flex-start;
  }

  @media screen and (min-width: @width-large-catalog) {
    display: grid;
    grid-template-columns: max-content auto;
    // grid-template-columns: 65% 35%;
    justify-items: center;
    align-items: stretch;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.manufacturing__wrapper > * {
  @media screen and (min-width: @width-medium-catalog) {
    order: 1;
  }
}

.manufacturing__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  .media-font(@width-medium-catalog, 20px);

  margin: 0;
  padding: var(--padding-top) var(--padding-horizontal) 26px;

  display: flex;
  align-items: center;
  width: 100%;

  border: var(--border);
  border-bottom: none;

  @media screen and (min-width: @width-medium-catalog) {
    padding-top: 42px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: @width-large-catalog) {
    grid-column-start: 2;

    padding-top: var(--padding-top);
    padding-bottom: 12px;
    margin: 0;

    flex-direction: column;
    align-items: flex-start;

    border-left: none;
  }
}

.manufacturing__title::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 22px;

  margin-right: 24px;

  flex-shrink: 0;

  background-image: url("../img/main/manufacturing/video.svg");
  background-repeat: no-repeat;

  @media screen and (min-width: @width-medium-catalog) {
    margin-right: 33px;
    margin-top: -7px;
  }

  @media screen and (min-width: @width-large-catalog) {
    margin: 0;
    margin-bottom: 20px;
  }

  @media screen and (min-width: @width-large-catalog) {
    margin-bottom: 27px;
  }
}

.manufacturing__video-wrapper {
  position: relative;
  width: 100%;

  @media screen and (min-width: @width-medium-catalog) {
    order: 0;
  }

  @media screen and (min-width: @width-large-catalog) {
    grid-row: ~"1/4";
  }
}

.manufacturing__wrapper:hover .manufacturing__video-wrapper {
  box-shadow: 10px 0 8px white, -10px 0 8px white;

  @media screen and (min-width: @width-medium-catalog) {
    box-shadow: 10px -10px 8px white, -10px -10px 8px white;
  }

  @media screen and (min-width: @width-large-catalog) {
    box-shadow: -10px 0 8px white, 0 15px 8px white;
  }
}

.manufacturing__play-button {
  @less-button-width: 100px;
  @less-button-height: 77px;
  @less-size-grow: 1.2;
  @less-size-shrink: 0.8;

  @less-button-width-hover: @less-button-width * @less-size-grow;
  @less-button-height-hover: @less-button-height * @less-size-grow;

  @less-button-width-active: @less-button-width * @less-size-shrink;
  @less-button-height-active: @less-button-height * @less-size-shrink;

  --button-width: @less-button-width;
  --button-height: @less-button-height;

  border: none;
  background-color: transparent;
  padding: 0;

  position: absolute;
  width: var(--button-width);
  height: var(--button-height);

  left: calc(50% - var(--button-width) / 2);
  top: calc(50% - var(--button-height) / 2);

  background-image: url("../img/main/manufacturing/play-button.svg");
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    --button-width: @less-button-width-hover;
    --button-height: @less-button-height-hover;
  }

  &:active {
    --button-width: @less-button-width-active;
    --button-height: @less-button-height-active;
    opacity: 0.3;
  }
}

.manufacturing__video-preview {
  background-color: @bg-color;

  display: block;
  width: 100%;
  height: 100%;
}

.manufacturing__text {
  margin: 0;

  padding: 35px 30px 41px var(--padding-horizontal);

  font-size: 13px;
  line-height: 24px;
  color: @dark-color-extra;

  .media-font(@width-medium-catalog, 15px, 30px);

  border-left: var(--border);
  border-right: var(--border);

  @media screen and (min-width: @width-medium-catalog) {
    padding-top: 0;
    padding-bottom: 39px;
  }

  @media screen and (min-width: @width-large-catalog) {
    grid-column-start: 2;

    padding-bottom: 37px;
    padding-right: 56px;

    margin-bottom: 0;

    border-left: none;
  }
}

.manufacturing__button-wrapper {
  display: block;
  width: 100%;
  padding: 0 var(--padding-horizontal) var(--padding-bottom);

  border: var(--border);
  border-top: none;

  @media screen and (min-width: @width-large-catalog) {
    grid-column-start: 2;

    padding: 0 56px 44px ~"calc(var(--padding-horizontal) + 1px)";

    border-left: none;
  }
}

.manufacturing__button {
  width: 100%;
}
