.manufacturing__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  .media-font(@width-tablet, 20px);
}

.manufacturing__video {
  background-color: @bg-color;
}

.manufacturing__text {
  font-size: 13px;
  line-height: 24px;
  color: @dark-color-extra;

  .media-font(@width-tablet, 15px, 30px);
}
