.order-form {
  font-size: 17px;
  line-height: 18px;

  .media-font(@width-medium, 19px);
}

.order-form__footer {
  @media screen and (min-width: @width-medium) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: @width-large) {
    padding-left: @column-for-large;
    padding-right: @column-for-large;
  }
}

.order-form__note {
  display: block;
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
  color: @dark-color-extra;

  .media-font(@width-medium, 17px, 30px);

  @media screen and (min-width: @width-medium) {
    order: 1;
    margin-bottom: 0;
    padding-top: 11px;
  }
}

.order-form__button {
  width: 100%;

  font-size: 17px;
  line-height: 16px;

  @media screen and (min-width: @width-medium) {
    width: 230px;
  }
}
