.page-content--main {
  padding-bottom: 39px;

  @media screen and (min-width: @width-medium) {
    padding-bottom: 57px;
  }

  @media screen and (min-width: @width-large) {
    padding-bottom: 105px;
  }
}

.page-content--form {
  padding-bottom: 55px;

  @media screen and (min-width: @width-medium) {
    padding-bottom: 50px;
  }
}

.page-content__catalog {
  padding: 0 @padding-small;
  margin-top: 29px;

  @media screen and (min-width: @width-medium-catalog) {
    padding: 0 @padding-medium;
    margin-top: 65px;
  }

  @media screen and (min-width: @width-large-catalog) {
    margin-top: 109px;
  }
}

.page-content__header {
  background-color: @bg-color;

  padding: 0 @padding-small;

  @media screen and (min-width: @width-medium) {
    padding: 0 @padding-medium;
  }
}

.page-content__header--main {
  background-color: @bg-color-x;
  background-image: url("../img/main/hero-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;

  padding: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/hero-small@2x.jpg");
    background-size: 320px auto;
  }

  @media screen and (min-width: @width-medium) {
    padding: 0 @padding-medium 10px;

    background-image: url("../img/main/hero-medium.jpg");
    background-position: 50% -2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/hero-medium@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media screen and (min-width: @width-large) {
    padding-bottom: 15px;

    background-image: url("../img/main/hero-large.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/hero-large@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.page-content__manufacturing {
  margin-top: 30px;
  margin-bottom: 58px;

  @media screen and (min-width: @width-medium-catalog) {
    margin-top: 53px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: @width-large) {
    margin-top: 57px;
    margin-bottom: 102px;
  }
}

.page-content__week-thing {
  @media screen and (min-width: @width-medium) {
    margin-top: 40px;
  }
}

.page-content__about-us {
  margin-top: 21px;
  margin-bottom: 35px;

  @media screen and (min-width: @width-medium) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: @width-large) {
    margin-top: 32px;
    margin-bottom: 46px;
  }
}
