.page-content__header {
  background-color: @bg-color;

  padding: 0 @padding-small;

  @media screen and (min-width: @width-medium) {
    padding: 0 @padding-medium;
  }
}

.page-content__header--main {
  background-color: @bg-color-x;
  background-image: url("../img/main/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  .media-bg-image(@width-medium, "../img/main/hero-tablet.jpg");

  .media-bg-image(@width-large, "../img/main/hero-desktop.jpg");
}
