.thing {
  text-align: left;

  &:nth-of-type(n + 2) {
    margin-top: 30px;
  }

  @media screen and (min-width: @width-medium-catalog) {
    display: flex;

    &:nth-of-type(n + 2) {
      margin-top: 54px;
    }
  }

  @media screen and (min-width: @width-large-catalog) {
    flex-direction: column;

    &:nth-of-type(n + 2) {
      margin-top: 0;
    }
  }
}

.thing__image-link {
  display: block;

  @media screen and (min-width: @width-medium-catalog) {
    width: 50%;
  }

  @media screen and (min-width: @width-large-catalog) {
    width: 100%;
  }
}

.thing__image {
  background-color: @bg-color;

  display: block;
  width: 100%;
  height: 100%;
}

.thing__info {
  border: 1px solid @border-color;
  padding: 27px 28px 26px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: @width-medium-catalog) {
    display: flex;
    flex-direction: column;

    width: 50%;

    padding-left: 33px;
    padding-right: 32px;
  }

  @media screen and (min-width: @width-large-catalog) {
    width: 100%;
    flex-grow: 1;

    padding: 27px 27px 24px;
  }
}

.thing__info--basket {
  padding-top: 28px;

  @media screen and (min-width: @width-large-catalog) {
    padding-top: 27px;
  }
}

.thing__info--toy-basket {
  padding-top: 24px;

  @media screen and (min-width: @width-large-catalog) {
    padding-top: 27px;
  }
}

.thing__name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 6px;

  .media-font(@width-medium-catalog, 20px);
}

.thing__name--basket {
  margin-bottom: 5px;
}

.thing__name--toy-basket {
  margin-bottom: 10px;

  @media screen and (min-width: @width-medium-catalog) {
    padding-right: 30px;
  }

  @media screen and (min-width: @width-large-catalog) {
    margin-bottom: 5px;
  }
}

.thing__link {
  text-decoration: none;

  &:visited {
    color: @dark-color-basic;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.thing .thing__parameters {
  font-size: 13px;
  line-height: 30px;
  color: @dark-color-extra;

  margin-bottom: 17px;

  .media-font(@width-medium-catalog, 15px);

  @media screen and (min-width: @width-large-catalog) {
    margin-bottom: 12px;
  }
}

.thing__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin: 0;

  .media-font(@width-medium-catalog, 17px);
}

.thing__order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid @border-color;

  padding-top: 22px;

  @media screen and (min-width: @width-medium-catalog) {
    margin-top: auto;
  }

  @media screen and (min-width: @width-large-catalog) {
    padding-top: 24px;
  }
}

.thing__button-buy {
  width: 21px;
  height: 18px;
}
