.week-thing__name {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  .media-font(@width-tablet, 43px, 50px);

  .media-font(@width-desktop, 53px, 57px);
}

.week-thing__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @main-color;

  .media-font(@width-tablet, 17px, 17px);
}

.week-thing__description {
  color: @dark-color-extra;

  .media-font(@width-tablet, 17px, 30px);
}

.week-thing__options {
  color: @dark-color-extra;
}

.week-thing__image {
  background-color: @bg-color;
}

.week-thing__price {
  color: @dark-color-extra;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  .media-font(@width-tablet, 20px);
}
