//global styles
* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.page {
  height: 100%;
}

.page-body {
  font-family: @font-family;
  font-size: 15px;
  line-height: 24px;
  min-width: @width-small;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
