@font-family: "Open Sans", Arial, sans-serif;

//colors
@dark-color-basic: #000;
@dark-color-extra: #444;
@basic-light-color: #fff;

@main-color: #63d1ba;
@main-color-x: #56c3b2;
@main-color-xx: #46c1ae;

@bg-color: #f1f1f1;
@bg-color-x: #fafafa;

@group-icon-color: #149080;

@border-color: #ececec;
@border-color-x: #e5e5e5;

//screen sizes
@width-small: 320px;
@width-medium: 768px;
@width-large: 1150px;

@width-medium-catalog: 560px;
@width-large-catalog: 840px;

@width-small-bound: @width-medium - 1px;

@padding-small: 30px;
@padding-medium: 50px;
@padding-large: 50px;

@column-for-large: 175px;
